ul {
  font-family: "lexend";
  background-color: #e1ceb2;
  color: #794245;
  font-weight: bolder;
  line-height: 50px;
  font-size: 110%;
  z-index: 3; }
  ul ul {
    position: absolute;
    display: none; }
    ul ul li:hover {
      background-color: #b49a7f; }
  ul li {
    position: relative; }
    ul li:hover ul {
      display: block; }
    ul li a {
      color: #794245;
      text-decoration: none; }
  ul .header__productos li {
    display: block;
    background-color: #ddb795;
    color: #794245;
    font-size: 100%;
    width: 180%;
    padding: 10% 10% 10% 10%;
    margin-left: -20%;
    z-index: 4;
    transition: background-color 0.25s; }
  ul .header__recetas li {
    display: block;
    background-color: #ddb795;
    color: #794245;
    font-size: 100%;
    width: 200%;
    padding: 10% 10% 10% 10%;
    margin-left: -20%;
    z-index: 4;
    transition: background-color 0.25s; }

#color {
  color: #794245; }

footer {
  background-color: #ddb795; }
  footer h6 {
    color: #794245;
    font-family: "lexend";
    font-size: 130%; }
  footer h7 {
    color: #794245;
    font-family: "lexend";
    font-size: 90%; }

* {
  margin: 0;
  padding: 0; }

.border {
  padding-top: 13%; }

main div h2 {
  color: #794245;
  font-family: lexend;
  animation: zoomIn;
  animation-duration: 1s; }

main div div .producto {
  border: solid 2px #794245; }

main div div .display1 {
  animation: fadeInLeft;
  animation-duration: 1s; }

main div div .display2 {
  animation: fadeInRight;
  animation-duration: 1s; }

main div div h3 {
  font-weight: bold;
  color: #794245;
  font-family: lexend;
  animation: zoomIn;
  animation-duration: 1s; }

main div div ol {
  color: dimgray;
  font-family: lexend;
  font-size: 95%;
  line-height: 220%;
  animation: zoomIn;
  animation-duration: 1s; }

main div h4 {
  background-color: #794245;
  color: #ddb795;
  font-family: lexend;
  line-height: 200%;
  font-size: 100%;
  animation: zoomIn;
  animation-duration: 1s; }

@media screen and (max-width: 767px) {
  .border {
    padding-top: 55%; } }
