footer{
    background-color: rgb(221, 183, 149);
    h6{
        color: rgb(121, 66, 69);
        font-family: "lexend";
        font-size: 130%;
    }
    h7{
        color: rgb(121, 66, 69);
        font-family: "lexend";
        font-size: 90%;
    }
}